.Header {
  padding: var(--s1) var(--s1) var(--s1) 0;
  background: var(--color-bg-2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & h1 {
    display: inline;
    white-space: nowrap;
  }

  & h1::selection {
    color: var(--color-bg-2);
    background: var(--color-title-2);
  }

  & a {
    color: var(--color-title-2);
    white-space: nowrap;
  }

  & a[href='/'] {
    text-decoration: none;
  }

  & a::selection {
    color: var(--color-bg-2);
    background: var(--color-title-2);
  }

  & nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }

  & nav ul > * {
    margin-left: var(--s1);
  }

  & nav li {
    font-size: var(--s2);
    font-size: clamp(var(--s-5), var(--s1) + 1vw, var(--s2));
  }

  & nav svg {
    margin-inline-end: var(--s-3);
    font-size: 0.8em;
  }
}
