.content {
  padding: var(--s0);
  background: var(--color-bg-1);

  & section {
    margin-inline-start: auto;
    margin-inline-end: auto;
    max-width: 80ch;
  }

  & section + section {
    margin-block-start: var(--s3);
  }

  & :any(h2, h3) {
    color: var(--color-title-1);
  }

  & h2::selection {
    color: var(--color-bg-1);
    background: var(--color-title-1);
  }

  & h3 {
    display: flex;
    align-items: center;
  }

  & h3::selection {
    color: var(--color-bg-1);
    background: var(--color-title-1);
  }

  & h3 span {
    margin-inline-end: var(--s-1);
    font-size: 0.8em;
  }

  & p + p {
    margin-block-start: var(--s1);
  }

  & p::selection {
    color: var(--color-bg-1);
    background: var(--color-text);
  }

  & span::selection {
    background: var(--color-text);
  }

  & em::selection {
    color: var(--color-bg-1);
    background: var(--color-text);
  }

  & .work-list {
    margin-block-start: var(--s1);
  }
}
