.Content {
  background-color: #4f8a8b;
  padding: var(--s0);
}

.Content > section {
  max-width: 80ch;
  margin-inline: auto;
}

.Content > section + section {
  margin-block-start: var(--s3);
}

.Content :is(h2, h3) {
  color: #ffcb74;
}

.Content :is(h2, h3)::selection {
  color: #4f8a8b;
  background: #ffcb74;
}

.Content p {
  color: #f4f6ff;
  font-size: var(--s1);
}

.Content p + p {
  margin-block-start: var(--s1);
}

.Content :is(p, em)::selection {
  color: #4f8a8b;
  background: #f4f6ff;
}

.Content h3 {
  display: block flex;
  align-items: center;
  gap: var(--s-1);
}

.Content h3 > span {
  font-size: 0.8em;
}

.Content .tech-list {
  list-style-type: none;
}

.Content .tech-list li {
  font-size: var(--s1);
  color: #f4f6ff;
}

.Content .tech-list li::before {
  content: '+ ';
}

.Content .works {
  margin-block-start: var(--s1);
  display: block grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(25ch), 1fr));
  gap: 1rem;
}

.Content .works a {
  text-decoration: none;
  border: 0.15rem solid #f4f6ff;
}

.Content .works a:hover {
  transform: translate(0, calc(var(--s-3) * -1));
}

.Content .works li {
  padding: 1rem;
}

.Content .works h3 {
  font-weight: 600;
  font-size: var(--s1);
}
