.App {
  background-color: #ff71ce;
  color: white;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-height: 100vh;
}

.App > p {
  margin: 2rem auto;
}

.App > img {
  height: 30vmin;
  filter: drop-shadow(0 0 30px #01cdfe);
}

.App-link {
  color: #01cdfe;
}
