:root {
  scroll-behavior: smooth;

  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  font-family: 'Muli', sans-serif;
  color: var(--color-text);
}

p,
h1,
h2,
h3 {
  max-width: 60ch;
}

p {
  font-family: 'Lora', serif;
  font-size: var(--s1);
  font-size: clamp(var(--s-5), var(--s0) + 1vw, var(--s1));
}

h1 {
  font-size: var(--s2);
  font-size: clamp(var(--s-5), var(--s1) + 1vw, var(--s2));
}

h2 {
  font-size: var(--s4);
  font-size: clamp(var(--s-5), var(--s3) + 1vw, var(--s4));
}

h3 {
  font-size: var(--s3);
  font-size: clamp(var(--s-5), var(--s2) + 1vw, var(--s3));
}
